/* navigation */

body {
    margin: 0;
    padding: 0;
    background: #fff;
    font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

}


/* font styles  */

strong {
    font-weight: bold;
}

p {
    font-size: 13px;
    color: #005776;
    text-align: center;
    margin: auto;
    width: 600px;
    padding: 0 10px;
    padding-bottom: 20px;


}


a {
    text-decoration: none;
    color: #005776;
    text-align: center;
}

hr {
    size: 1px;
    width: 500px;
    border-color: #005776;





}

/* Navigation */
nav {
    width: 100%;
    background-color: #005776;
    overflow: auto;

}

ul {
    padding: 0;
    margin: 0 0 0 150px;
    list-style: none
}

li {
    float: right;

}

.logo img {

    position: absolute;
    margin-top: 20px;
    margin-left: 30px;
    width: 80px;
}

nav a {

    width: 100px;
    display: block;
    padding: 30px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    color: white;
    text-align: center
}

nav a:hover {

    background: #ec8a00;
    transition: 0.5s;
    text-transform: uppercase
}


.hero-image img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;

}




/*header properties */

h1 {
    font-weight: 150;
    color: #005776;
    shape-margin: 20px;
    font-size: 55px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;

}


h2 {
    font-weight: 300;
    color: #ec8a00;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    font-size: 30px;
    color: #ec8a00;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;

}

h4 {
    font-size: 24px;
    color: #ec8a00;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

h5 {


    font-weight: 40;
    color: #ec8a00;
    shape-margin: 20px;
    font-size: 15px;
    font-style: italic;
    text-align: center;




}




a {
    text-decoration: none;
    text-decoration-skip: ink;
}






/* "more" links */

.more-link {
    border: 1px solid #005776;
    color: #005776;
    padding: 6px 20px;
    border-radius: 3px;

}

.more-link:hover {
    background-color: #005776;
    color: #fff;

}








#donate {
    padding: 60px 0;
    text-align: center;
    padding-top: 30px;
}

#donate h3 {
    display: block;
    margin: 0 auto 20px auto;
    width: 400px;
    border-bottom: 1px solid #005776;
    padding: 0 0 20px 0;
}

/* Donate Button */
.button-2 {
    display: block;
    margin: 0 auto;
    border: 2px solid #005776;
    color: #005776;
    border-radius: 3px;
    width: 180px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
}

.button-2:hover {
    background-color: #005776;
    color: #fff;
}


/* Image slider */
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
}

img {
    max-width: 1000px;
    max-height: 500px;
    padding-bottom: 8px;
    position: center
}

.slider-container {
    height: 250px;
    width: 50%;
    position: sticky;
    margin: 0 auto;
    padding: 0 10px;
    align-items: center;
    overflow: hidden;
    text-align: center;
    border-right: 600px;
    border-left: 600px;
}

.menu {
    position: absolute;
    left: 0;
    z-index: 900;
    width: 100%;
    bottom: 0;
}

.menu label {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #ec8a00;
    border-radius: 50px;
    margin: 0 .2em 1em;

    &:hover {
        background: red;
    }
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;

    background-position: 50% 50%;
    transition: left 0s .75s;
}

[id^="slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    transition: left .50s ease-out;

}

/* manning house */

.slide-1 {
    background-image: url('../images/manningclarkehouse/slider1.jpg');
}

.slide-2 {
    background-image: url('../images/manningclarkehouse/slider2.jpg');
}

.slide-3 {
    background-image: url('../images/manningclarkehouse/slider3.jpg');
}

.column {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 50%;
    padding: 1px;
    padding-bottom: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}


footer {
    padding: 60px 0;
    background-color: cadetblue
}

#footer-info {
    text-align: center;
    margin-top: 10px;
    color: white;
