img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%
}

body {
    background-color: #fff;
    font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

}



p {
    line-height: 20px;
    margin-bottom: 20px;
}

<style > p {
    max-width: 400px;
    text-align: center
}

introduction {
    margin-top: 20px;
}

</style > h1 {
    font: normal 15px "Helvetica Neue";
    font-weight: bold;
    color: black;
    font-size: 45px;
    margin-bottom: 20px;
}

/* Text within the hero image */
h2 {
    font-weight: 300;
    color: #005776;
    text-shadow: 2px 4px grey;
    shape-margin: 20px;
    font-size: 55px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    font-size: 30px;
    color: #ec8a00;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;

}

h4 {
    font-size: 24px;
    color: #ec8a00;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

h5 {
    font-size: 15px;
    color: #005776;
    font-weight: bold;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #005776;
}

a:hover {
    color: #ec8a00;
}

strong {
    font-weight: bold;
}

/* Small font under Robin Boyd profile and Heritage listed house */
small {
    font-size: 13px;
    color: #005776;

}


.clear {
    clear: both;
}

.wrapper {
    margin: center;
    padding: 0 10px;

}

header {
    height: 120px;
    color: #005776;
}

header h1 {
    float: center;
    margin-top: 32px;
}

header h1 .color {
    color: #fff;
    margin-top: auto;

}


header nav {
    float: right;
    background-color: white;
}

header nav ul li {

    display: inline-flex;
    margin-top: auto;
    margin-bottom: auto;
}

header nav ul li a {
    color: #005776;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-right: 20px;
}



#hero-image {
    height: 370px;
    padding-top: 1px;
    background: white url('../images/hero.jpg') no-repeat center;
    width: auto;
}

#hero-image h2 {
    margin: 180px 0 40px 0;
}

.image {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.button-1 {
    display: block;
    text-align: center;
    background: #005776;
    border-radius: 3px;
    color: #fff;
    width: 180px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    margin: 0 auto;
}

.button-1:hover {
    background-color: #ec8a00;
    color: #fff;
}


.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#content {
    padding: 60px 0;
    text-align: center;
}

#content article {
    width: 460px;
    height: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    background-color: #f5f5f5;
}

#content article:first-child {
    margin-right: 20px;
}

#content article .overlay {
    background: rgba(255, 255, 255, .95);
    height: 230px;
    width: 190px;
    padding: 20px;
}

article h4 {
    border-bottom: 1px solid #005776;
    padding-bottom: 20px;
}

.more-link {
    border: 1px solid #005776;
    color: #005776;
    padding: 6px 20px;
    border-radius: 3px;
}

.more-link:hover {
    background-color: #005776;
    color: #fff;
}

#donate {
    padding: 60px 0;
    text-align: center;
}

#donate h3 {
    display: block;
    margin: 0 auto 20px auto;
    width: 400px;
    border-bottom: 1px solid #005776;
    padding: 0 0 20px 0;
}

/* Donate Button */
.button-2 {
    display: block;
    margin: 0 auto;
    border: 2px solid #005776;
    color: #005776;
    border-radius: 3px;
    width: 180px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
}

.button-2:hover {
    background-color: #005776;
    color: #fff;
}



footer {
    padding: 60px 0;
    background-color: #005776;
}

#footer-info {
    text-align: center;
    margin-top: 10px;
    color: white;
